.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px 96px;
}

.nav img {
    width: 180px;
    height: 36px;
    transition: all 1s;
    
    &:hover {
        transform: scale(1.1);
    }
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav__list a {
    position: relative;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.125rem;
}

.nav__list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #EEEEEE;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease-in-out;    
}

.nav__list a:hover::after, .nav__list a:focus::after {
    transform: scaleX(1);
}