/*Main - Fim*/

.container {
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}

.container-main {
    display: flex;
    gap: 15px;
}

.container-main__header {
    width: 586px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-main .espiral {
    width: 100px;
    margin-top: 30px;  
}

.container-main__subtitle {
    width: 100%;
    font-weight: 700;
    font-size: 6rem;
    line-height: 96px;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.container-main__subtitle span {
    color: #00ADB5;
}

.buttons {
    width: 500px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.buttons button{
    all: unset;
    border-radius: 24px;
    font-size: 1.125rem;
    padding: 10px 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    } 
}

#hireme {
    background-color: #00ADB5;
}

#curriculo {
    background-color: #393E46;
}

.container img {
    width: 514px;
}

/*Main - Fim*/

/*Sobre mim - Inicio*/

.aboutme {
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 179px;
    border-top: 1px solid #696060;
}

.aboutme__text {
    width: 389px;
    height: 285px;
}

.aboutme__text h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 4rem;
    font-weight: 700;
}

.aboutme__text h2 span{
    color: #00ADB5;
}

.aboutme__text h2 img{
    height: 88px;
}

.aboutmeu__espiral {
    display: flex;
    justify-content: center;
    align-items: end;
}

.aboutmeu__espiral img {
    width: 150px;
    height: 169px;
}

.aboutme__paragraph {
    color: #EEEEEE;
    font-size: 1.125rem;
    margin-bottom: 65px;
}

.aboutme__img {
    width: 600px;
    height: 500px;
}

/*Sobre mim - Fim*/


/*Works - Inicio*/

.works {
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../src/img/background.png');
    background-size: cover;
    border-top: 1px solid #696060;
}

.works__title {
    color: #EEEEEE;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.works__title span{
    color: #00ADB5;
}

.works__buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.works__buttons button {
    all: unset;
    background-color: #393E46;
    border-radius: 24px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.works__buttons .works__buttons--active {
    background-color: #00ADB5;
    
    &:hover {
        opacity: 1;
    }
}

.works__list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    list-style-type: none;
}

.works__item {
    width: 368px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
}

.works__item img {
    height: 158px;
    transition: all 1s;
    opacity: 1;
    
    &:hover {
        transform: scale(1.1);
    }
}

/*Works - Fim*/

/*Contact page - Inicio*/

.contact {
    width: auto;
    height: 1024px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
    background-image: url(../src/img/contact-page-bcg.png);
    background-size: cover;
}

.contact__title, .contact__form {
    width: 35%;
    height: 500px;
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact__title h2 {
    color: #EEEEEE;
    font-weight: 700;
    font-size: 4rem;
}

.contact__title span {
    color: #00ADB5;
}

.contact__title img {
    width: 100%;
}

.contact__form label{
    color: #EEEEEE;
    font-size: 1.125rem;
    font-weight: 700;
    
}

.contact__inputs, .contact__message{
    display: flex;
    flex-direction: column;
}

.contact__inputs {
    gap: 24px;
    margin-bottom: 24px;
}

.contact__inputs input {
    all: unset;
    width: 90%;
    background-color: #393E46;
    border-radius: 16px;
    padding: 16px 24px;
    margin-top: 10px;
}

.contact__message {
    bottom: 400px;
}

.contact__message textarea {
    all: unset;
    width: 90%;
    height: 200px;
    background-color: #393E46;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 16px 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.contact__message button {
    all: unset;
    width: 232px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #00ADB5;
    border-radius: 24px;
    font-size: 1.125rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px #000;
    padding: 10px 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.contact__message button img {
    width: 24px;
}

/*Contact page - Fim*/