.container {
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}

.container-main {
    display: flex;
    gap: 15px;
}

.container-main__header {
    width: 586px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-main .espiral {
    width: 100px;
    margin-top: 30px;  
}

.container-main__subtitle {
    width: 100%;
    font-weight: 700;
    font-size: 6rem;
    line-height: 96px;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.container-main__subtitle span {
    color: #00ADB5;
}

.buttons {
    width: 500px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.buttons button{
    all: unset;
    border-radius: 24px;
    font-size: 1.125rem;
    padding: 10px 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    } 
}

#hireme {
    background-color: #00ADB5;
}

#curriculo {
    background-color: #393E46;
}

.container img {
    width: 514px;
}

/*Sobre mim - Inicio*/

.aboutme {
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 179px;
    border-top: 1px solid #696060;
}

.aboutme__text {
    width: 389px;
    height: 285px;
}

.aboutme__text h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 4rem;
    font-weight: 700;
}

.aboutme__text h2 span{
    color: #00ADB5;
}

.aboutme__text h2 img{
    height: 88px;
}

.aboutmeu__espiral {
    display: flex;
    justify-content: center;
    align-items: end;
}

.aboutmeu__espiral img {
    width: 150px;
    height: 169px;
}

.aboutme__paragraph {
    color: #EEEEEE;
    font-size: 1.125rem;
    margin-bottom: 65px;
}

.aboutme__img {
    width: 600px;
    height: 500px;
}

/*Sobre mim - Fim*/